body{
    margin: 0px;
    background-color: #721c24;
    font: optimus;
    color: black;
}
@font-face{
    font-family: optimus;
    src:url(OptimusPrinceps.ttf);
}
@font-face{
    font-family: heineken;
    src:url(HEINEKEN.TTF);
}
@font-face{
    font-family: renaissance;
    src:url(renaissance.ttf);
}
.logo{
    font-size:medium;
    font-family:optimus;
    padding: 5px 10px;
    color:green;
    font-size:xxlarge;
}
h1, h2, h3, h4{
    border-bottom: 2px solid orange;
}
.corpo{
    margin-top: 5px;    
    background-color: white;
}
.corpo h4{
    font-family: renaissance;
}
.corpo h4 span{
    font-family: heineken;
}
.fotos-destaque img{
    width:100%;
    height: 400px;
}
.corpo h6{
    border-bottom: 1px dashed grey;
    text-align: center;
}
.corpo a div{
    margin-bottom: 10px;
}
.corpo a:link{
    text-decoration: none;
    color: black;    
}
.corpo a:hover{
    color:#212529;
}
.corpo a:visited{
    color: black;
}
.jumbotron a div span{
    text-align: justify;
}
footer{
    text-align: center;
    background-color: #CCCCCC;
    padding: 10px 0px 10px 0px;
}
footer li{
    list-style-type: none;
}
.jumbotron li{
    list-style-type: none;
}
.empurra{
    clear:both;
}
@media only screen and (min-width: 576px) {
    .jumbotron li{
            width: 47%;
            height: auto;
            float: left;
            margin-left: 3%;
    }
}
