body{
    margin: 0px;
    background-color: #36485a;
    font-family: optimus;
    color: black;
}
@font-face{
    font-family: optimus;
    src:url(OptimusPrinceps.ttf);
}
@font-face{
    font-family: heineken;
    src:url(HEINEKEN.TTF);
}
@font-face{
    font-family: renaissance;
    src:url(renaissance.ttf);
}
.logo{
    font-size:medium;
    font-family:optimus;
    padding: 5px 10px;
    color:green;
    font-size:-webkit-xxx-large;
    font-size:xxx-large;
}
h1, h2, h3, h4{
    border-bottom: 2px solid orange;
}
h5, h6{
    border-bottom: 2px solid #36485a;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #36485a;
}

.corpo{
    margin-top: 15px;    
    background-color: white;
}

.fotos-destaque img{
    width:100%;
    height: 400px;
}
.corpo h6{
    border-bottom: 1px dashed grey;
    text-align: center;
}
.corpo a div{
    margin-bottom: 10px;
}
.corpo a:link{
    text-decoration: none;
    color: black;    
}
.corpo a:hover{
    color:#212529;
}
.corpo a:visited{
    color: black;
}
.jumbotron a div span{
    text-align: justify;
}
footer{
    text-align: center;
    background-color: #CCCCCC;
    padding: 10px 0px 10px 0px;
}
footer li{
    list-style-type: none;
}
.jumbotron li{
    list-style-type: none;
}
.empurra{
    clear:both;
}
@media (min-width: 576px){
	.container{
		width: 100%;
	}
}
@media (min-width: 576px) {
    .jumbotron li{
            width: 47%;
            height: auto;
            float: left;
            margin-left: 3%;
    }
    .corpo{
    	width: 90%;
    }
}

.falsolink li{
	list-style-type: none;
	cursor:pointer;
}
.falsolink li:hover{
	color: #36485a;
}

.post{
	font-family: Arial,Verdana;
}
.post h2, .post h3, .post h4{
	border:initial;
}
.post-body{
	margin-bottom: 50px;
}
